[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/sergiokopplin/indigo
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
